{% raw %}{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1"
    />

    <title>
      Home | {% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}
    </title>

    <meta content="TK" name="description" />
    <meta
      content="{{ cookiecutter.project_verbose_name }}"
      name="author"
    />
    <meta property="og:site_name" content="{% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}" />

    <!-- Facebook metadata -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Home | {% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}"
    />
    <meta property="og:description" content="TK" />
    <meta property="og:url" content="TK" />

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}" />
    <meta name="twitter:creator" content="TK" />
    <meta
      name="twitter:title"
      content="Home | {% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}"
    />
    <meta name="twitter:url" content="TK" />
    <meta name="twitter:description" content="TK" />

    <meta property="og:image" content="{% static 'images/' %}" />
    <meta name="twitter:image" content="{% static 'images/' %}" />

    <!-- Override this block to add extra meta tags -->
    {% block extra_meta %}{% endblock %}

    <link
      rel="shortcut icon"
      type="image/ico"
      href="{% static 'images/favicon.ico' %}"
    />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{% static 'images/favicon-16x16.png' %}"
      sizes="16x16"
    />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{% static 'images/favicon-32x32.png' %}"
      sizes="32x32"
    />

    <link href="{% static 'css/{% endraw %}{{ cookiecutter.module_name }}{% raw %}.css' %}" rel="stylesheet" />

    <!-- Override this block to add extra stylesheets -->
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
        >{% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              {% include '{% endraw %}{{ cookiecutter.module_name }}{% raw %}/partials/nav.html' %}
            </ul>
          </div>
        </div>
      </nav>

      <main>{% block body %}{% endblock %}</main>

      <footer class="bg-dark text-light">
        <div class="container-fluid py-4">
          <div class="row">
            <!-- Site Name -->
            <div class="col-md">
              <p class="h4">
                {% endraw %}{{ cookiecutter.project_verbose_name }}{% raw %}
              </p>
            </div>
          </div>

          <hr class="py-2" style="border-color: gray" />

          <div class="row">
            <div class="col">
              <p>
                Built by
                <a href="https://datamade.us" target="_blank" class="text-light"
                >DataMade</a
                  >
                </p>
              </div>
            </div>
          </div>
        </footer>

        <!-- Load external scripts -->
        <script src="{% static 'js/lib/fontawesome.min.js' %}"></script>

        <!-- Matomo -->
        <script>
          var _paq = (window._paq = window._paq || [])
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["trackPageView"])
          _paq.push(["enableLinkTracking"])
          ;(function () {
            var u = "https://datamade.matomo.cloud/"
            _paq.push(["setTrackerUrl", u + "matomo.php"])
            // replace ZZZ with your site ID
            _paq.push(["setSiteId", "ZZZ"])
            var d = document,
            g = d.createElement("script"),
            s = d.getElementsByTagName("script")[0]
            g.async = true
            g.src = "//cdn.matomo.cloud/datamade.matomo.cloud/matomo.js"
            s.parentNode.insertBefore(g, s)
          })()
        </script>
        <!-- End Matomo Code -->

        <!-- Load Bootstrap styles and JavaScript -->
        {% load render_bundle from webpack_loader %}
        {% render_bundle 'bootstrap' js %}

        <!-- Load extra external scripts -->
        {% block extra_js %}{% endblock %}

        {% endraw %}
        {% if cookiecutter.install_wagtail %}
          {% raw %}
          {% load wagtailuserbar %}
          {% wagtailuserbar %}
          {% endraw %}
        {% endif %}
        {% raw %}
      </body>
    </html>
    {% endraw %}